<component name="libraryTable">
  <library name="testng" type="repository">
    <properties maven-id="org.testng:testng:7.5" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/testng-7.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jsr305-3.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-1.7.32.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jcommander-1.78.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jquery-3.5.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>